<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% for(var i = 0; i < selectTeste.length; i++){ %>
        <div>
            <div>
                <span>Cota: </span>
                <span><%=selectTeste[i].codigo_grupo%></span>
                <span><%=selectTeste[i].codigo_cota%></span>
                <span><%=selectTeste[i].versao%></span>
                <br />
                <p>
                    <span>CPF/CNPJ: </span>
                    <%=selectTeste[i].cgc_cpf_cliente%>
                </p>
            </div>
        </div>
        <% } %>
    </div>
</body>
</html>